label{
    display: block; margin-bottom: 10px; font-size:  18px;
}
input{
    width: 90%; padding: 10px 2%; border: 1px solid #ddd; margin-bottom: 10px;
}
select{
    width: 94%;
}
textarea{
    min-height: 100px;
}
input[type="submit"]{
    background: green;border: 2px solid green; width: 200px; font-size: 18px; 
    cursor: pointer; transition: 0.5s;
}
input[type="submit"]:hover{
    background: gray;border: 1px solid green; color: #fff;
    
}
.search_form{
    width: 100%; max-width: 500px; margin: 20px auto;
}
.search_form input{width: 60%; float: left;

}
.search_form input[type="submit"]{
    width: 35%;
    float: left;
    padding: 7px 3%;
}